[credential]
	helper = osxkeychain

[user]
	name = --"Full Name"
	email = --user.email@domain.com

[alias]
	co = checkout
	checkoutr = checkout

[color]
	ui = true

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = 11
	frag = magenta bold
	old = red bold
	new = green bold
	commit = yellow bold
	whitespace = red reverse

[color "status"]
	added = green
	changed = yellow
	untracked = cyan

[diff]
	# Detect copies as well as renames
	renames = copies
	# Enable an experimental heuristic that shifts the hunk boundary in an
	# attempt to make the resulting patch easier to read.
	indentHeuristic = true

[merge]
	# Include summaries of merged commits in newly created merge commit messages
	log = true

[diff "bin"]
	# Use `hexdump` to diff binary files
	textconv = hexdump -v -C

[fetch]
	prune = true

[help]
	# Automatically correct and execute mistyped commands
	autocorrect = 1

[pull]
	rebase = true

[rerere]
	enabled = true

[push]
	# Use the Git 1.x.x default to avoid errors on machines with old Git
	# installations. To use `simple` instead, add this to your `~/.extra` file:
	# `git config --global push.default simple`. See http://git.io/mMah-w.
	default = matching
	# Make `git push` push relevant annotated tags when pushing branches out.
	followTags = true

[core]
	pager = diff-so-fancy | less --tabs=4 -RFX

[diff-so-fancy]
	changeHunkIndicators = false
	stripLeadingSymbols = false
	useUnicodeRuler = false

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
